<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="trip_planner/fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">

					<!-- Registration -->
					<div class="text-center">
						<h1 class="h4 text-success mt-4">新規作成</h1>
					</div>

					<form th:action="@{/trip_planner/trip_plan/create_trip}" th:object="${tripCreateForm}" method="post" novalidate>
						<div class="form-group">
							<input type="hidden" class="form-control" th:field="*{username}">
						</div>

						<div class="form-group">
							<label for="title">タイトル</label>
							<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{title}">
							<div class="invalid-feedback" th:errors="*{title}">
							</div>
						</div>

						<div class="form-group">
							<label for="destination">目的地</label>
							<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{destination}">
							<div class="invalid-feedback" th:errors="*{destination}">
							</div>
						</div>

						<div class="form-group">
							<label for="travel_days">日数</label>
							<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{travel_days}">
							<div class="invalid-feedback" th:errors="*{travel_days}">
							</div>
						</div>

						<div class="form-group">
							<label for="currency">通貨</label>
							<div class="form-check form-check-inline" th:each="currency:${T(com.example.demo.util.Currency).CURRENCIES}">
								<input type="radio" class="ml-2" th:field="*{currency}" th:value="${currency.key}">
								<label th:for="${#ids.prev('currency')}" th:text="${currency.value}"></label>
								</div>
						</div>
						<table class="table table-borderless">
							<thead>
								<tr>
									<th>
										<label for="itinerary_date">日付</label>
									</th>
									<th>
										<label for="start_at">開始時間</label>
									</th>
									<th>
										<label for="end_at">終了時間</label>
									</th>
									<th>
										<label for="location">場所</label>
									</th>
									<th>
										<label for="note">備考</label>
									</th>
									<th>
										<label for="amount">金額</label>
									</th><th>
								</th></tr>
							</thead>
							<tbody>
								<tr th:each="itinerary, stat : *{itineraryCreateForm}">
									<th>
										<input type="date" class="form-control" th:field="*{itineraryCreateForm[__${stat.index}__].itinerary_date}" th:value="${itinerary.itinerary_date}">
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].itinerary_date')}" th:errors="*{itineraryCreateForm[__${stat.index}__].itinerary_date}"></div>
									</th>
									<th>
										<input type="time" class="form-control" th:field="*{itineraryCreateForm[__${stat.index}__].start_at}" th:value="${itinerary.start_at}">
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].start_at')}" th:errors="*{itineraryCreateForm[__${stat.index}__].start_at}"></div>
									</th>
									<th>
										<input type="time" class="form-control" th:field="*{itineraryCreateForm[__${stat.index}__].end_at}" th:value="${itinerary.end_at}">
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].end_at')}" th:errors="*{itineraryCreateForm[__${stat.index}__].end_at}"></div>
									</th>
									<th>
										<input type="text" class="form-control" th:value="${itinerary.location}" th:field="*{itineraryCreateForm[__${stat.index}__].location}">
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].location')}" th:errors="*{itineraryCreateForm[__${stat.index}__].location}"></div>
									</th>
									<th>
										<textarea class="form-control" th:value="${itinerary.note}" rows="2" th:field="*{itineraryCreateForm[__${stat.index}__].note}"></textarea>
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].note')}" th:errors="*{itineraryCreateForm[__${stat.index}__].note}"></div>
									</th>
									<th>
										<input type="text" class="form-control" th:field="*{itineraryCreateForm[__${stat.index}__].amount}" th:value="${itinerary.amount}">
										<div th:if="${#fields.hasErrors('itineraryCreateForm[' + stat.index + '].amount')}" th:errors="*{itineraryCreateForm[__${stat.index}__].amount}"></div>
									</th>
								</tr>
							</tbody>
						</table>
						<div class="float-left">
							<button type="submit" class="btn btn-success" th:href="@{/trip_planner/trip_plan/create_trip}">
								保存
							</button>
						</div>

					</form>
					<!-- End of Registration -->


				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>


</body>

</html>