<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="trip_planner/fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">

					<!-- Registration -->
					<div class="text-center">
						<h1 class="h4 text-secondary-900 mt-4">
							新規作成
						</h1>
					</div>

					<form th:action="@{/trip_planner/trip_plan/create_itinerary}" th:object="${itineraryCreateForm}" method="post"
						novalidate>
						<div class="form-group">
							<input type="hidden" class="form-control" th:field="*{trip_id}">
						</div>
						<div class="form-group">
							<input type="hidden" class="form-control" th:field="*{username}">
						</div>
						<div class="form-row">
							<div class="form-group col">
								<label for="itinerary_date">日付</label>
								<input type="date" class="form-control" th:field="*{itinerary_date}">
							</div>
							<div class="form-group col">
								<label for="start_at">開始時間</label>
								<input type="time" class="form-control" th:field="*{start_at}">
							</div>
							<div class="form-group col">
								<label for="end_at">終了時間</label>
								<input type="time" class="form-control" th:field="*{end_at}">
							</div>
							<div class="form-group col">
								<label for="location">場所</label>
								<input type="text" class="form-control" th:errorclass="is-invalid"　th:field="*{location}">
								<div class="invalid-feedback" th:errors="*{location}">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col">
								<label for="note">備考</label>
								<textarea class="form-control" th:field="*{note}" rows="2"></textarea>
							</div>
							<div class="form-group col">
								<label for="amount">金額</label>
								<input type="text" class="form-control" th:field="*{amount}">
							</div>
							</div>
						</div>
						
						<div class="float-left">
							<button type="submit" class="btn btn-success">
								保存
							</button>
						</div>
					</form>
					<!-- End of Registration -->


				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>


</body>

</html>