<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="fragments/base :: header"></th:block>
  </head>
  <body id="page-top">
  
  <!-- Page Wrapper -->
  <div id="wrapper">
    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>

    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">

          <!-- List -->
          HOME
          <!-- End of List -->

        </div>
      </div>
    </div>
    <!-- End of Main -->
  </div>

  <th:block th:insert="fragments/base :: scripts"></th:block>


</body>
</html>