<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body>
	<!-- Main -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-6">

				<!-- Card -->
				<div class="card o-hidden border-0 my-5">
					<div class="card-body p-5">
						<div class="p-5">

							<!-- Login -->
							<div class="text-center">
								<h1 class="h1 text-success mb-4">
									<i class="fas fa-user-shield"></i>
								</h1>
							</div>
								
							<div class="alert alert-danger" th:if="${param.error}">
								<small>You have entered the wrong username or password.</small>
							</div>
							<div class="alert alert-success" th:if="${param.register}">
								<small>You have successfully been registered!</small>
							</div>
							<div class="alert alert-success" th:if="${param.logout}">
								<small>You have successfully logged out.</small>
							</div>

							<form th:action="@{/trip_planner/login}" class="user" method="post">
								<div class="form-group">
									<input type="text" class="form-control form-control-user" name="username"
											placeholder="Username">
								</div>
								<div class="form-group">
									<input type="password" class="form-control form-control-user"
											name="password" placeholder="Password">
								</div>
								<div class="form-group">
									<div class="custom-control custom-checkbox small">
										<input type="checkbox" class="custom-control-input" id="remember-me"
											name="remember-me">
										<label class="custom-control-label" for="remember-me">
											Remember Me
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-success btn-user btn-block">
									Login
								</button>
							</form>
							<hr>
							<div class="text-center">
								<a class="text-secondary" th:href="@{/trip_planner/user_account/register}">Sign Up?</a>
							</div>
							<!-- End of Login -->

						</div>
					</div>
				</div>
				<!-- End of Card -->

			</div>
		</div>
	</div>
	<!-- End of Main -->

	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>
</body>

</html>
