@charset "UTF-8";

h2.image{
	color: white;
	font-size: 500px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

h1.landing-title{
	color: white;
	font-size: 90px;
	font-weight: bold;
	float: right;
	margin-right: 110px;
	margin-top: 250px;
}
div.home-link{
	float: right;
	margin-right: 300px;
	margin-top: 20px;
}