@charset "UTF-8";

h2.image{
	color: white;
	font-size: 500px;
	float: left;
	margin-left: 150px;
	margin-top: 50px;
}

.bg-gradient-landing{
	background: rgb(2,117,216);
	background: linear-gradient(0deg, rgba(2,117,216,1) 0%, rgba(64,188,142,1) 50%, rgba(92,184,92,1) 100%);
}

h1.landing-title{
	color: white;
	font-size: 90px;
	font-weight: bold;
	float: right;
	margin-right: 110px;
	margin-top: 250px;
}
div.home-link{
	float: right;
	margin-right: 300px;
	margin-top: 20px;
}