<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="trip_planner/fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">

					<!-- Registration -->
					<div class="text-center">
						<h1 class="h4 text-secondary-900 mt-4">
							ユーザ削除
						</h1>
					</div>
					<div>
						<p class="text-secondary">下記のユーザを削除します。</p>
					</div>
					<form th:action="@{/trip_planner/user_account/deactivate}" th:object="${userDeleteForm}" method="post"
						novalidate>
						<div class="form-group">
							<label for="name">ユーザネーム</label>
							<input type="text" class="form-control" th:field="*{username}" readonly>
						</div>

						<div class="form-group">
							<label for="password">パスワード</label>
							<input type="password" class="form-control" th:field="*{password}" readonly>
						</div>

						<div class="form-group">
							<label for="email">メールアドレス</label>
							<input type="email" class="form-control" th:field="*{email}" readonly>
						</div>
						<br>
						<div class="float-left">
							<button type="submit" class="btn btn-success">
								確定
							</button>
						</div>
					</form>
					<!-- End of Registration -->


				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>


</body>

</html>