<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="trip_planner/fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-4">

					<!-- Modification -->
					<div class="text-center">
						<h1 class="h1 text-success mt-5 mb-4">
							<i class="fas fa-user-edit"></i>
						</h1>
					</div>

					<form th:action="@{/trip_planner/user_account/update}" th:object="${userUpdateForm}" method="post"
						novalidate>
						<div class="form-group">
							<label for="name">ユーザネーム</label>
							<input type="text" class="form-control" th:field="*{username}" readonly>
						</div>

						<div class="form-group">
							<label for="password">パスワード</label>
							<input type="password" class="form-control" th:errorclass="is-invalid"
								th:field="*{password}">
							<div class="invalid-feedback" th:errors="*{password}">
							</div>
						</div>

						<div class="form-group">
							<label for="email">メールアドレス</label>
							<input type="email" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
							<div class="invalid-feedback" th:errors="*{email}">
							</div>
						</div>
						<br>
						<div class="float-left">
							<button type="submit" class="btn btn-success">
								保存
							</button>
						</div>
					</form>
					<!-- End of Modification -->


				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>

	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>


</body>

</html>