<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<th:block th:insert="trip_planner/fragments/base :: header"></th:block>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="trip_planner/fragments/sidebar :: sidebar"></th:block>

		<!-- Main -->
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div class="container-fluid">

					<!-- List -->
					<div class="card my-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-success">
								ユーザ一覧
								<th:block>
									<a role="button" class="btn btn-outline-success float-right btn-sm" th:href="@{/trip_planner/user_account/register_admin}">管理者追加</a>
								</th:block>
							</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="user-table" class="table table-bordered">
									<thead>
										<tr>
											<th>ユーザネーム</th>
											<th>メールアドレス</th>
											<th>アクセスレベル</th>
											<th>登録日</th>
											<th>更新日</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="user : ${users}" th:object="${user}">
											<td th:text="*{username}"></td>
											<td th:text="*{email}"></td>
											<td th:text="*{role}"></td>
											<td th:text="*{#dates.format(created_at, 'yyyy/MM/dd HH:mm')}"></td>
											<td th:text="*{#dates.format(updated_at, 'yyyy/MM/dd HH:mm')}"></td>
											<td>
												<div th:switch="*{isActive}">
												<div th:case="false" class="text-center">削除済</div>
												<div th:case="true" class="dropdown text-center">
													<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" th:id="|dropdownMenuButton-*{username}|" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														操作選択
													</button>
													<div class="dropdown-menu" th:aria-labelledby="|dropdownMenuButton-*{username}|">
														<a class="dropdown-item" th:href="@{/trip_planner/user_account/edit/{username}(username=*{username})}">編集</a>
														<a class="dropdown-item" th:href="@{/trip_planner/user_account/delete/{username}(username=*{username})}">削除</a>
													</div>
												</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- End of List -->
					
				</div>
			</div>
		</div>
		<!-- End of Main -->
	</div>
	<th:block th:insert="trip_planner/fragments/base :: scripts"></th:block>
</body>
</html>