<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:insert="fragments/base :: header"></th:block>
  </head>
  <body id="page-top">
  
  <!-- Page Wrapper -->
  <div id="wrapper">
    <th:block th:insert="fragments/sidebar :: sidebar"></th:block>

    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid">

          <!-- List -->
          <div class="card shadow my-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-success">
                <th:block th:text="${username}"></th:block>
              </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">

                <table id="user-table" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>ユーザネーム</th>
                      <th>メールアドレス</th>
                      <th>アクセスレベル</th>
                      <th>登録日</th>
                      <th>更新日</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="userDetails : ${user}" th:object="${userDetails}">
                      <td th:text="*{username}"></td>
                      <td th:text="*{email}"></td>
                      <td th:text="*{role}"></td>
                      <td th:text="*{#dates.format(created_at, 'yyyy/MM/dd HH:mm')}"></td>
                      <td th:text="*{#dates.format(updated_at, 'yyyy/MM/dd HH:mm')}"></td>
                      <td>
                      	<div class="dropdown">
  							<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">操作選択</a>
  								<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    								<li><a class="dropdown-item" th:href="@{/trip_planner/user_account/edit/{username}(username=*{username})}">編集</a></li>
    								<li><a class="dropdown-item" th:href="@{/trip_planner/user_account/delete}">削除</a></li>
  								</ul>
						</div>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
          <!-- End of List -->

        </div>
      </div>
    </div>
    <!-- End of Main -->
  </div>

  <th:block th:insert="fragments/base :: scripts"></th:block>


</body>
</html>